@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=League+Spartan&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

 }

h1{
    font-size: 80px;
    line-height: 64px;
    color: #222;
} 

h2{
    font-size: 66px;
    line-height:54px;
    color:#222;
}

h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
    color:#222
}
#h4-1{
    color: grey;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: grey;
    margin:15px 0 20px 0; 
}

p-pro{
        font-size: 40px;
        color: grey;
        margin:15px 0 20px 0; 
    
    
}
.section-p1{
    padding:40px 100px;
}

.section-m1{
    margin:40px 0 ;
}

body{
    width:100%;
}

.icon {
    height: 40px;
    width :40px;

}
.icon-1 {
    height: 20px;
    width :20px;
}

/* navbar css */

.logo{
    width :60px;
    height:50px;
}


.logo-1{
    width :90px;
    height:70px;
}

h5{
    font-size: 16px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 80px 0px;
    background: 	#FAF9F6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06 );
    position: sticky;
    top :0;
    left:0;
    z-index: 9999999;
}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li  :hover ,#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after , #navbar li  :hover::after{
    content: "";
    width:30%;
    height:2px;
    background-color: #088178;
    position:absolute;
    bottom:-5px;
    left:20px;

}

#mobile {
    display:none;
    align-items: center;
}

#close{
    display:none;
    align-items: center;
}



/* home page */


#hero {
    background-image: url("image/BridaL.png");
    background-size: 33%;
    background-repeat: no-repeat;
    background-position: right bottom;
    filter: saturate(1.3); 
    background-attachment: fixed;
    position:relative;
    z-index :100;
    
}


#hero{
   
    height :90vh;
    width:100%;
    padding: 70px 12%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
   background-color:rgb(240,255,255 ,0.6);
}

#hero p{
    transition: 0.5s ease;
    cursor:pointer;
}

#hero p:hover{
    color:red;
    transform: scale(1.3);
    padding-left: 3.5%;
}

#hero h1{
    color:#088178;
    padding-top: 15px;
}
#hero h4{
    padding-bottom: 20px;
}

#hero button{
   background-color: transparent;
   color: #088178;
   border: 1px solid black;
   padding:15px 40px;
   margin-top: 15px;
   border-radius: 30px;
   cursor :pointer;
   font-weight: 700;
   font-size: 17px;
   box-shadow: 3px 3px 9px #222;
   box-sizing: border-box;
}
#hero button a{
    text-decoration: none;
    color:#088178;
}

#hero button:hover{
    box-shadow: 3px 3px 5px #222;
    border: 2px solid #088178;
    color: black;
    box-sizing: border-box;
}


.none {
    z-index:1000;
}


/* features */
#feature{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color:rgb(240,255,255 ,0.4);
    background-blend-mode: multiply;
}

#feature .fe-box{
    width:180px;
    text-align: center;
    padding:25px 15px;
    margin:16px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09 );
    border: 1px solid grey ;
    border-radius: 20px;
    transition: 0.3s ease;
}

#feature .fe-box:hover  {
    border: 2px solid #1d7a76;
    box-shadow: 3px 3px 5px grey;
    transform:scale(0.9);
    
}
#feature .fe-box h6{
    margin-top: 15px;
    font-size: 15px;
    color: #484848;
    text-align: center;
}


#feature .fe-box img{
    width:100%;
    border-radius: 10px;
}

#shop-now{
    height:35px;
    background-color:rgb(240,255,255 ,0.4);
}

#shop-now-1{
    height:35px;
}

/* products */

#clothes {
    text-align: center;
    background-color:rgb(240,255,255 ,0.4);
    margin-bottom: 40px;

}
.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto 80px auto;
    width:90vw;
    max-width: 1400px;
}

#clothes .main-box{
    width :23%;
    min-width:250px;
    padding:10px 12px;
    padding-bottom: 50px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4 );
    margin : 15px 0px;
    transition: 0.2s ease;
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.img img{
    width:100%;
    border-radius: 20px;
    transition: 0.25s ease;
}
#Cothes h4{
    color: grey;
   
}
#clothes h4:hover {
  
    color:#4f86f7;
    cursor:pointer;
}

.img img:hover{
    box-shadow: 5px 5px 10px grey;
    transform: scale(1.1);

}
.cart{
    border:1px solid #cce7d0;
    border-radius: 50%;
    position:absolute;
    right:15px;
    bottom:15px;
    padding:7px;
    transition: 0.3s ease;
    margin-top: 20px;
}

.cart:hover{
    background-color:#cce7d0 ;
    transform: scale(1.4);
}

.img-des{
    text-align:  start;
    margin-top: 15px;
    margin-left:7px;
}
.img-des h5{
    line-height: 25px;
}



/* banner */

#banner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("img/banner/b2.jpg");
    width:90vw;
    height:35vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 50px 0px 0px 10px;

}

#banner h4{
    font-size: 25px;
    color: white;
    line-height: 2;
    width:70%;
    color: whitesmoke;
}

#banner h3{
    color: white;
    line-height: 1;
    margin-bottom: 10px;
    max-width: 1400px;
}
#banner-1{
    margin-left: 20px;
    
}
#banner-1 button{
    margin-right:28%;
    border: 1px solid black;
    padding:11px 20px 10px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}
#banner-1 button:hover{
    background-color: #4f86f7;
    color: white;
}

.border-tag{
    color: red;
    margin:0px 5px;
}

#banner-2 {
    display: flex;
    align-items:stretch;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    width:90vw;
    margin : 20px auto;

    
}

.banner-box-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("img/banner/b17.jpg");
    width: 44vw;
    height:45vh;
    padding-left: 20px;
    max-width : 700px;
}

.banner-box-1 h3{
    font-size: 37px;
    padding:5px 0px;
    color: white;
    font-weight: 800;
    
}

.banner-box-1 h4{
    color: white;
    font-weight: 400;
}

.banner-box-1 span{
    font-size: 13px;
    padding:10px 0px 15px;
    color: white;
   
}
.banner-box-1 button{
    border: 1px solid white;
    padding:11px 20px 10px;
    color: white;
    background-color: transparent;
}

.banner-box-1:hover button{
    background-color: #4f86f7;
    color: white;
    border: 1px solid white;
}

.bg-image-1{
    background-image: url("img/banner/b10.jpg");
    background-size: cover;
    background-position: center;
}

.banner-box-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("img/banner/b7.jpg");
    width:27vw;
    height:30vh;
    padding-left: 10px;
    max-width : 700px;
}

#banner-4{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
    width:90vw;
    margin : 0px auto 20px auto;
}

#banner-4 h2{
    font-size: 25px;
    color: white;
    font-weight: 800;
}

#banner-4 h3{
    font-size: 20px;
    color:#BA0021;
    font-weight: 800;
}

.banner-box-2-width{
    width:32vw ;
    max-width: 700px;
}

.bg-image-2{
    background-image: url("img/banner/b18.jpg") !important;
    background-size: cover;
    background-position: center;
}

.bg-image-3{
    background-image: url("img/banner/b4.jpg") !important;
    background-size: cover;
    background-position: center;
}



/* footer */

.footer-1{
   
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:30%;
    padding-bottom: 30px;
    position:relative;
    min-width : 250px;
   
}

.footer-1 p a {
    text-decoration: none;
    color: grey;
    transition: 0.2s ease;
    line-height: 1.1;
  
}

.footer-img {
    display:flex;
    
}
.footer-img img{
    margin: 0px 5px;
}
.footer-img img:hover{
    cursor: pointer;
}


#footer{
    display :flex;
    justify-content: space-around;
    transform: scale(0.9);
    background-color: #e5ffec;
    padding: 0px 50px;
    flex-wrap: wrap;
    
}

.footer-1 span{
    font-weight: 900;
}

#app-store-img{
    display:flex;
    justify-content: flex-start;

}
#app-store-img img{
    border:1px solid;
    border-radius:20px;
    transform:scaleX(0.8);
    position: relative;
    margin: 10px 0px;

}
#app-store-img img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4 );
    cursor: pointer;
}

p{
    margin:0;
}

.footer-1 p {
    margin:7px 0px;
}
.life{
    font-weight: 800;
}
.pay{
    transform: scale(0.7);
    position:absolute;
    left:8px;
    bottom:30px;
}

#footer-main{
    background-color: #e5ffec;
    padding-bottom: 20px;
}
#footer-end{
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
}

.footer-1 p a:hover{
    font-weight: 700;
    color: #088178;
    cursor: pointer;
}


@media ( max-width : 799px) {
    #navbar {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top:0px;
        right:-300px;
        height:100vh;
        width:300px;
        background-color: snow;
        box-shadow: 0 40px 60px rgb(240,255,255 ,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li{
        margin-bottom:25px;
    }

    #mobile {
        display:flex ;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #navbar.active{
        right:0px;
    }

    #close{
        display:flex;
        align-items: center;
        position :absolute;
        top:30px;
        left:30px;
    }


    #hero {
    background-size: contain;
     background-position: bottom 50px right 0px;
    }

    .banner-box-2{
        width: 100vw;
    }
    .banner-box-1{
        width:90vw;
    }
    
}

@media (min-width :1400px) {
    #hero-2{
        transform: scale(1.5);
    }
    
}

@media (max-width : 450px)
{
    
    #hero {
        background-image: url("image/12345.jpg");
        background-repeat: repeat-y;
        margin-left: -20px;
        }

        .go{
            display: none;
        }
}

#shop-banner-1{
    background-image: linear-gradient(to top, lightblue 0%, white 100%);
    padding: 30px 0px;
    width: 100%;  
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
 
}

.cl{
    padding-top: 150px;
}



#shop-banner-1 img{
    width: 90%;
    height:80vh;  
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4 );
    margin:auto 0px;
  
}

#clothes-heading{
    width:90%;
    margin: 0px auto;
}
#clothes-heading h3{
    text-align: left;
    font-family: 'Poiret One', cursive;
}

#clothes-next{
    text-align: center;
    width:90%;
    margin: 10px auto;
    height:15vh;
}

#clothes-next a{
    text-decoration: none;
    background-color: transparent;
    padding:15px 20px;
    border-radius :4px;
    color: black;
    border:2px inset grey;
    font-size: 20px;
    font-weight: 400;

}

#clothes-next a img{
    transform: translate(0px, 5px);

}








#product-details{
    display:flex;
    margin: -10px auto 20px auto;
    padding-bottom: 40px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}


#product-details .single-product{
    width:40%;
    margin-right: 50px;
}

.small-img{
    width: 100%;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:-40px auto 0px auto;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-info{
    width:50vw;
    margin-top:-20px;
}

#product-details .single-product-info h4{
    padding:40px 0px 20px 0;
    color:#088178;
   
}

#product-details .single-product-info h3{
    padding:40px 0px 20px 0;
}

#product-details .single-product-info h2{
    font-size: 26px;
}

#product-details .single-product-info datalist{
    display:block;
    padding: 5px 10px;
    margin-bottom: -80px;
}

.number{
    width:50px;
    height:47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right:10px;
}

#product-details .single-product-info button{
    background-color: transparent;
    padding:15px 15px;
    border-radius :4px;
    color: black;
    border:2px inset grey;
    font-size: 18px;
    font-weight: 400;
}

#product-details .single-product-info button:hover{
    background-color: #4f86f7;
    color: white;
    font-weight: 800;

}

#product-details .single-product-info span{
    color:	#404040;
    font-size: 20px;
}

.single-product-info{
    transform:scale(0.9);
}
#main{
    transform: scale(0.8);
    margin-top: -40px;
}
.small-img
{
    transform: scale(0.8);
}


#shop-banner-2{
    width:100%;
    height:90vh;
}

#shop-banner-2 img{
    width: 100%;
    height:90vh;  
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4 );
    margin:auto 0px;
  
}

#shop{
    width:100%;
    background-image: url("image/shop/final.png");
    background-repeat: none;
    height:100vh;
    background-size:contain;
    filter:saturate(1.5);
   
}

#conatct-info{
    background-color: transparent;
    width:70%;
    margin: 0px auto 0px auto;
    z-index:100;
    padding : 50px;
    height:70vh;
   



    
}

#conatct-info label{    
    padding : 50px 20px;
}

.number-2{
    width:400px;
    height:40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right:10px;
    border-radius:10px ;
    z-index: 10000;
    border-radius: 10px;
}

.number-2:hover{
    background-color: transparent;
    color:black;
    font-weight: bolder;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

   
}


.number-2:hover::placeholder{
    color:grey;
   
}

.number-3:hover{
    background-color: transparent;
    color:white;
   
}


#conatct-info .number-1{
    width:100px;
    display: inline-block;
    padding:10px 0px;
    border-radius: 10px;
}
#conatct-info .number-1:hover{
    background-color: #4f86f7;
    color: white;
}


.number-3{
    border-radius: 10px;
    padding:10px 5px;
}

#ok{
    width:80%;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px auto;
}





#cart{
    width:95%;
    margin:10px auto;
}

#cart-img{
    width:100%;
    height:50vh;
}

.table-image{
    width:150px;
    height:150px;
    border-radius: 10px;
    margin-top: 20px;
}

.number-4{
    width:50px;
    height: 50px;
    padding:0px 0px 0px 10px;
}

#cart-1{
    
    padding: 50px 0px 50px 50px;
    text-align: center;
}

.thead{
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    padding: 15px 0px;
    font-weight: 900;

}

#final{
    font-weight: bolder;
    color: #BA0021;
    padding: 50px 0px;
    font-size: 20px;
}

.right-line{
    border-right: 1px solid grey;
}

.bottom-line{
    border-bottom: 1px solid grey;
}

#cart-info{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding:50px 130px;
}



#cart-input{
    padding: 10px 80px 6px 10px;
}

#cart-button{
    padding: 8px 15px;
    font-size: 17px;
    color: white;
    background-color: #088178;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}

.cart-space{
    padding: 10px 80px 6px 10px;
}

.line-uper{
    border-top: 1px solid grey;
}

#cart-total-button{
    padding:12px 20px 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    color: white;
    background-color: #088178;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}

.cart-weight{
    font-weight: bolder;
}

.cart-shiping-color{
    color:#BA0021;
}


